.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent; /* Header transparente */
  z-index: 1000;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-content: flex-start;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks li {
  font-size: 1rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerIcon {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navLinks.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .logo {
    flex: 1;
  }

  .nav {
    flex-wrap: wrap;
  }
}

  